* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
}



main {
    background-color: cadetblue;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.comparison-box {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}