@font-face {
    font-family: 'digital-7regular';
    font-display: block;
    src: local('digital-7regular'), url('./digital-font/web-kit/digital-7.woff2') format('woff2'),
        local('digital-7regular'), url('./digital-font/web-kit/digital-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.clock_container {
    width: 400px;
    height: 200px;
    margin: 100px auto;
    background-color: rgb(74, 22, 22);
    box-shadow: 6px 8px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.clock_body{
    width: 350px;
    height: 176px;
    border: 2px solid rgb(255, 165, 165);
    border-radius: 40px;
}

.display{
    font-family: 'digital-7regular', sans-serif;
    height: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    background-color:rgb(25, 7, 7);
    color:rgb(227, 35, 35);
    text-shadow: 1px 1px rgb(255, 165, 165), 1px 1px rgb(255, 165, 165);
    border-radius: 39px;
}

.time {
    padding: 5px;
}