* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    width: 50px;
}

.lacking {
    display: none;
}

.table-header, .nutrients {
    display: flex;
    flex-wrap: wrap;
}

.col-title {
    font-weight: 700;
}

.col-width {
    width: 110px;
}

.col-name {
    background-color: aqua;
}

.col-alternate {
    background-color: darkcyan;
}

.col-category {
    background-color: darkkhaki;
}

.col-recommended {
    background-color: lightcoral;
}

.col-intake {
    background-color: dodgerblue;
}

.col-where {
    width: 300px;
    background-color: crimson;
}