.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2e6cea;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: rgb(216, 216, 216);
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 300px;

}

.question {
  margin: 20px;
  font-size: 2rem;

}

.option-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option{
  width: 300px;
  padding: 10px;
  border-radius: 17px;
  border: 1px solid black;
}

.option:hover {
  background-color: #61dafb;
  transition: 0.5s;
}

.answer{
  display: none;
  margin: auto;
}
/* Working on how to make an oval layer so as not to have to alter the img */
/* .border {
} */

img {
  height: 300px;
  width: auto;
  border-radius: 35px;
}

.btn-next {
  background-color: dodgerblue;
  color: white;
} 
