@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* Elements, classes, id's affecting the background and file as a whole */

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

.background-image img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#portfolio {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 14px;
  text-decoration: none;
}

#portfolio:hover {
  text-decoration: underline;
  cursor: pointer;
}

button, .sign-up, .results, .joke-container {
  background-color: rgb(255, 255, 255);
  width: 135px;
  height: 48px;
  border: 3px solid rgba(173, 18, 137, 0.548);
  border-radius: 18px;
  box-shadow: 2px 2px 5px 5px rgba(196, 67, 151, 0.151), -2px -2px 5px 5px rgba(206, 87, 18, 0.151);
}

/* landing page */
.btn-start {
  width: 200px;
  height: 89px;
  margin: auto;
  padding: 10px 10px 12px;

}

.btn-position {
  position: absolute;
  left: 71%;
  bottom: 4%;
  transform: translateX(-50%);
}

.joke-btn-position {
  position: absolute;
  left: 29%;
  bottom: 4%;
  transform: translateX(-50%);
}

.btn-start:hover, #submit:hover, .return:hover, .joke-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.btn-start:active, #submit:active, .return:active {
 transform: scale(0.98);
}

.add-font {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 25px;
}

/* Center Display */
.sign-up, .results, .joke-container {
  position: relative;
  width: 400px;
  height: 500px;
  padding: 20px;
  display: block;
}

.joke-container h3{
  text-align: center;
  margin-top: 50px;
}

.joke {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.punchline {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.joke-disclaimer {
  font-size: 0.6rem;
  position: absolute;
  bottom: 30px;
  left: 70%;
  transform: translateX(-50%);
}

.joke-ready {
  text-align: center;
    margin: 0;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h3, #submit, .return, .btn-start, p {
  font-family: 'Josefin Sans', sans-serif;
}

p {
  padding-top: 20px;
  padding-bottom: 2px;
}

.sign-up > p {
  font-weight: 700;
  font-size: 18px;
}

label, option {
  font-family: 'Ubuntu', sans-serif;
}

input[type="text"] {
  width: 90%;
  padding: 8px;
}


#submit, .return {
  display: block;
  padding: 5px;
  margin: auto;
  margin-top: 20px;
}

.strikethrough {
  text-decoration: line-through;
}

/* Results page */


.results-label {
  font-weight: 700;
  padding-top: 13px;
  font-size: 18px;
}

.results-border {
  padding-top: 5px;
  padding-bottom: 7px;
  margin-bottom: 4px;
}


/* Extra small devices (phones, 450px and down) */
@media only screen and (max-width: 450px) {
  #portfolio {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .sign-up, .results, .joke {
    position: relative;
    width: 300px;
    height: 550px;
    padding: 10px;
    margin-top: 20px;
    overflow: initial;
  }
  
  .btn-position {
    position: absolute;
    left: 71%;
    bottom: 5%;
    transform: translateX(-50%);
  }
  }